In [1]:
# Import modules.
import pandas as pd
import numpy as np
import gmaps
import citipy
from uszipcode import SearchEngine

# Import the API key.
from citipy import citipy
engine = SearchEngine()

C:\Users\Owner\anaconda3\envs\PythonData\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
# read in fire data file
ca_fire_df = pd.read_csv("../Resources/clean_fire.csv")
ca_fire_df

,Unnamed: 0,lat,lon,acq_date,satellite,instrument,confidence,year,month
0,58,32.538414,-114.621254,2019-01-03,N,VIIRS,50,2019,1
1,65,32.539585,-114.619484,2019-08-12,N,VIIRS,50,2019,8
2,74,32.541367,-114.618057,2019-06-12,N,VIIRS,50,2019,6
3,76,32.541977,-114.622284,2019-06-12,N,VIIRS,50,2019,6
4,78,32.543243,-114.613960,2019-08-12,N,VIIRS,50,2019,8
...,...,...,...,...,...,...,...,...,...
31580,1101270,41.990002,-118.648483,2019-12-09,N,VIIRS,50,2019,12
31581,1101419,41.991016,-118.647095,2019-12-09,N,VIIRS,50,2019,12
31582,1101613,41.992332,-121.517357,2019-04-26,N,VIIRS,50,2019,4
31583,1102225,41.996803,-121.732178,2019-11-06,N,VIIRS,50,2019,11
31584,1102424,41.998306,-121.730911,2019-11-06,N,VIIRS,50,2019,11

In [3]:
ca_fire_df['lat']

0        32.538414
1        32.539585
2        32.541367
3        32.541977
4        32.543243
           ...
31580    41.990002
31581    41.991016
31582    41.992332
31583    41.996803
31584    41.998306
Name: lat, Length: 31585, dtype: float64

In [4]:
lat_lngs = zip(ca_fire_df['lat'],ca_fire_df['lon'])
# print(len(list(lat_lngs)))
cities = []

# Identify the nearest city for each latitude and longitude combination.
for lat_lng in lat_lngs:
    zipcodes = engine.by_coordinates(lat_lng[0], lat_lng[1], radius=30)

#     if zipcodes[0].state == 'CA':
    try:
        cities.append(zipcodes[0].major_city)
        
    except IndexError:
        cities.append('')
        print('exception')
        
#     print(zipcodes)    
    
len(cities)

exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception
exception

31585

In [5]:
ca_fire_df['cities'] = pd.DataFrame({'cities': cities})
ca_fire_df

,Unnamed: 0,lat,lon,acq_date,satellite,instrument,confidence,year,month,cities
0,58,32.538414,-114.621254,2019-01-03,N,VIIRS,50,2019,1,Somerton
1,65,32.539585,-114.619484,2019-08-12,N,VIIRS,50,2019,8,Somerton
2,74,32.541367,-114.618057,2019-06-12,N,VIIRS,50,2019,6,Somerton
3,76,32.541977,-114.622284,2019-06-12,N,VIIRS,50,2019,6,Somerton
4,78,32.543243,-114.613960,2019-08-12,N,VIIRS,50,2019,8,Somerton
...,...,...,...,...,...,...,...,...,...,...
31580,1101270,41.990002,-118.648483,2019-12-09,N,VIIRS,50,2019,12,Fields
31581,1101419,41.991016,-118.647095,2019-12-09,N,VIIRS,50,2019,12,Fields
31582,1101613,41.992332,-121.517357,2019-04-26,N,VIIRS,50,2019,4,Merrill
31583,1102225,41.996803,-121.732178,2019-11-06,N,VIIRS,50,2019,11,Dorris
31584,1102424,41.998306,-121.730911,2019-11-06,N,VIIRS,50,2019,11,Dorris

In [6]:
ca_fire_df = ca_fire_df.dropna()
ca_fire_df

,Unnamed: 0,lat,lon,acq_date,satellite,instrument,confidence,year,month,cities
0,58,32.538414,-114.621254,2019-01-03,N,VIIRS,50,2019,1,Somerton
1,65,32.539585,-114.619484,2019-08-12,N,VIIRS,50,2019,8,Somerton
2,74,32.541367,-114.618057,2019-06-12,N,VIIRS,50,2019,6,Somerton
3,76,32.541977,-114.622284,2019-06-12,N,VIIRS,50,2019,6,Somerton
4,78,32.543243,-114.613960,2019-08-12,N,VIIRS,50,2019,8,Somerton
...,...,...,...,...,...,...,...,...,...,...
31580,1101270,41.990002,-118.648483,2019-12-09,N,VIIRS,50,2019,12,Fields
31581,1101419,41.991016,-118.647095,2019-12-09,N,VIIRS,50,2019,12,Fields
31582,1101613,41.992332,-121.517357,2019-04-26,N,VIIRS,50,2019,4,Merrill
31583,1102225,41.996803,-121.732178,2019-11-06,N,VIIRS,50,2019,11,Dorris
31584,1102424,41.998306,-121.730911,2019-11-06,N,VIIRS,50,2019,11,Dorris

In [7]:
ca_fire_df.to_csv("../Resources/clean_fire_cities.csv")