In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [15]:
#  Import and read the ca_crime.csv

ca_crime_df = pd.read_excel("resources/california-crime.xls", header=2, skiprows=2)
ca_crime_df.head(20)

,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape1,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Adelanto,34491.0,276.0,1.0,20.0,42.0,213.0,459.0,136.0,209.0,114.0,14.0
1,Agoura Hills,20490.0,21.0,0.0,6.0,4.0,11.0,306.0,66.0,223.0,17.0,0.0
2,Alameda,78907.0,162.0,0.0,7.0,94.0,61.0,2579.0,218.0,1958.0,403.0,29.0
3,Albany,20083.0,40.0,0.0,8.0,21.0,11.0,685.0,105.0,534.0,46.0,1.0
4,Alhambra,84837.0,161.0,2.0,11.0,89.0,59.0,1749.0,259.0,1303.0,187.0,8.0
5,Aliso Viejo,52247.0,27.0,1.0,3.0,13.0,10.0,433.0,57.0,351.0,25.0,1.0
6,Alturas,2471.0,10.0,0.0,2.0,1.0,7.0,30.0,14.0,13.0,3.0,0.0
7,American Canyon,20452.0,53.0,0.0,7.0,7.0,39.0,454.0,59.0,368.0,27.0,3.0
8,Anaheim,353915.0,1120.0,8.0,141.0,396.0,575.0,8258.0,1123.0,5904.0,1231.0,44.0
9,Anderson,10545.0,61.0,1.0,5.0,12.0,43.0,363.0,63.0,208.0,92.0,1.0
10,Angels Camp,3909.0,6.0,0.0,2.0,1.0,3.0,74.0,19.0,45.0,10.0,0.0
11,Antioch,112641.0,648.0,12.0,55.0,238.0,343.0,3199.0,511.0,2078.0,610.0,59.0
12,Apple Valley,74051.0,339.0,4.0,19.0,68.0,248.0,1105.0,230.0,660.0,215.0,11.0
13,Arcadia,58899.0,84.0,1.0,10.0,35.0,38.0,1348.0,301.0,973.0,74.0,3.0
14,Arcata,18332.0,72.0,1.0,12.0,16.0,43.0,605.0,122.0,425.0,58.0,21.0
15,Arroyo Grande,18188.0,27.0,0.0,2.0,7.0,18.0,275.0,35.0,219.0,21.0,3.0
16,Artesia,16779.0,72.0,1.0,2.0,28.0,41.0,284.0,90.0,161.0,33.0,0.0
17,Arvin,21811.0,196.0,3.0,3.0,16.0,174.0,437.0,115.0,178.0,144.0,16.0
18,Atascadero,30579.0,65.0,0.0,7.0,7.0,51.0,493.0,96.0,360.0,37.0,3.0
19,Atherton,7222.0,12.0,0.0,2.0,4.0,6.0,110.0,32.0,74.0,4.0,0.0

In [3]:
ca_fire_df = pd.read_csv("resources/ca_daily_fire_2000_2021.csv")
ca_fire_df.head()

,latitude,longitude,acq_date,satellite,instrument,confidence,year,month
0,32.436893,-114.597054,2014-06-15,N,VIIRS,100,2014,6
1,32.456921,-114.598595,2014-06-15,N,VIIRS,100,2014,6
2,32.457344,-114.596558,2014-06-15,N,VIIRS,100,2014,6
3,32.458092,-114.592819,2014-06-15,N,VIIRS,100,2014,6
4,32.461948,-114.593880,2014-06-15,N,VIIRS,100,2014,6

In [4]:
ca_zip_df = pd.read_csv("resources/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
ca_zip_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,106672.0,...,251930.0,255861.0,260506.0,266174.0,272442.0,278528.0,283555.0,286948.0,288863.0,289504.0
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,223357.0,...,439209.0,445272.0,454755.0,466373.0,480063.0,491447.0,498934.0,501198.0,499334.0,499877.0
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,90482.0,...,174265.0,176277.0,178252.0,180407.0,183773.0,187384.0,190834.0,193074.0,194779.0,196166.0
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,187749.0,...,571191.0,569363.0,569160.0,571091.0,572605.0,575407.0,577640.0,579764.0,580707.0,583489.0
4,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,275753.0,...,744928.0,748113.0,751397.0,757101.0,759701.0,765523.0,770799.0,775959.0,778630.0,781713.0

In [5]:
ca_zip_df.nunique()

RegionID      27403
SizeRank      15360
RegionName    27403
RegionType        1
StateName        51
              ...
2022-05-31    26504
2022-06-30    26577
2022-07-31    26571
2022-08-31    26601
2022-09-30    26719
Length: 282, dtype: int64

In [6]:
ca_zip_df.drop(['RegionID', 'StateName'],axis=1, inplace=True)
ca_zip_df.head()

,SizeRank,RegionName,RegionType,State,City,Metro,CountyName,2000-01-31,2000-02-29,2000-03-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,0,77449,zip,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,106672.0,106685.0,106488.0,...,251930.0,255861.0,260506.0,266174.0,272442.0,278528.0,283555.0,286948.0,288863.0,289504.0
1,1,77494,zip,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,223357.0,223674.0,224394.0,...,439209.0,445272.0,454755.0,466373.0,480063.0,491447.0,498934.0,501198.0,499334.0,499877.0
2,2,79936,zip,TX,El Paso,"El Paso, TX",El Paso County,90482.0,90482.0,90515.0,...,174265.0,176277.0,178252.0,180407.0,183773.0,187384.0,190834.0,193074.0,194779.0,196166.0
3,3,11368,zip,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,187749.0,190237.0,191801.0,...,571191.0,569363.0,569160.0,571091.0,572605.0,575407.0,577640.0,579764.0,580707.0,583489.0
4,4,11385,zip,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,275753.0,277623.0,279568.0,...,744928.0,748113.0,751397.0,757101.0,759701.0,765523.0,770799.0,775959.0,778630.0,781713.0

In [7]:
ca_zip_df.drop(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31'],axis=1, inplace=True)
ca_zip_df.head()

,SizeRank,RegionName,RegionType,State,City,Metro,CountyName,2001-01-31,2001-02-28,2001-03-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,0,77449,zip,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,108642.0,108446.0,107918.0,...,251930.0,255861.0,260506.0,266174.0,272442.0,278528.0,283555.0,286948.0,288863.0,289504.0
1,1,77494,zip,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,227545.0,226853.0,225988.0,...,439209.0,445272.0,454755.0,466373.0,480063.0,491447.0,498934.0,501198.0,499334.0,499877.0
2,2,79936,zip,TX,El Paso,"El Paso, TX",El Paso County,88180.0,88307.0,87869.0,...,174265.0,176277.0,178252.0,180407.0,183773.0,187384.0,190834.0,193074.0,194779.0,196166.0
3,3,11368,zip,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,217513.0,220082.0,223254.0,...,571191.0,569363.0,569160.0,571091.0,572605.0,575407.0,577640.0,579764.0,580707.0,583489.0
4,4,11385,zip,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,300093.0,302632.0,306955.0,...,744928.0,748113.0,751397.0,757101.0,759701.0,765523.0,770799.0,775959.0,778630.0,781713.0

In [8]:
ca_zip_df.drop(['2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31'],axis=1, inplace=True)
ca_zip_df.head()

,SizeRank,RegionName,RegionType,State,City,Metro,CountyName,2002-01-31,2002-02-28,2002-03-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,0,77449,zip,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,108577.0,108753.0,109326.0,...,251930.0,255861.0,260506.0,266174.0,272442.0,278528.0,283555.0,286948.0,288863.0,289504.0
1,1,77494,zip,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,227077.0,226762.0,227650.0,...,439209.0,445272.0,454755.0,466373.0,480063.0,491447.0,498934.0,501198.0,499334.0,499877.0
2,2,79936,zip,TX,El Paso,"El Paso, TX",El Paso County,85304.0,85156.0,85387.0,...,174265.0,176277.0,178252.0,180407.0,183773.0,187384.0,190834.0,193074.0,194779.0,196166.0
3,3,11368,zip,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,251956.0,255230.0,257571.0,...,571191.0,569363.0,569160.0,571091.0,572605.0,575407.0,577640.0,579764.0,580707.0,583489.0
4,4,11385,zip,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,333594.0,333259.0,332739.0,...,744928.0,748113.0,751397.0,757101.0,759701.0,765523.0,770799.0,775959.0,778630.0,781713.0

In [9]:
ca_zip_df.drop(['2002-01-31',
 '2002-02-28',
 '2002-03-31',
 '2002-04-30',
 '2002-05-31',
 '2002-06-30',
 '2002-07-31',
 '2002-08-31',
 '2002-09-30',
 '2002-10-31',
 '2002-11-30',
 '2002-12-31',
 '2003-01-31',
 '2003-02-28',
 '2003-03-31',
 '2003-04-30',
 '2003-05-31',
 '2003-06-30',
 '2003-07-31',
 '2003-08-31',
 '2003-09-30',
 '2003-10-31',
 '2003-11-30',
 '2003-12-31',
 '2004-01-31',
 '2004-02-29',
 '2004-03-31',
 '2004-04-30',
 '2004-05-31',
 '2004-06-30',
 '2004-07-31',
 '2004-08-31',
 '2004-09-30',
 '2004-10-31',
 '2004-11-30',
 '2004-12-31',
 '2005-01-31',
 '2005-02-28',
 '2005-03-31',
 '2005-04-30',
 '2005-05-31',
 '2005-06-30',
 '2005-07-31',
 '2005-08-31',
 '2005-09-30',
 '2005-10-31',
 '2005-11-30',
 '2005-12-31',
 '2006-01-31',
 '2006-02-28',
 '2006-03-31',
 '2006-04-30',
 '2006-05-31',
 '2006-06-30',
 '2006-07-31',
 '2006-08-31',
 '2006-09-30',
 '2006-10-31',
 '2006-11-30',
 '2006-12-31',
 '2007-01-31',
 '2007-02-28',
 '2007-03-31',
 '2007-04-30',
 '2007-05-31',
 '2007-06-30',
 '2007-07-31',
 '2007-08-31',
 '2007-09-30',
 '2007-10-31',
 '2007-11-30',
 '2007-12-31',
 '2008-01-31',
 '2008-02-29',
 '2008-03-31',
 '2008-04-30',
 '2008-05-31',
 '2008-06-30',
 '2008-07-31',
 '2008-08-31',
 '2008-09-30',
 '2008-10-31',
 '2008-11-30',
 '2008-12-31',
 '2009-01-31',
 '2009-02-28',
 '2009-03-31',
 '2009-04-30',
 '2009-05-31',
 '2009-06-30',
 '2009-07-31',
 '2009-08-31',
 '2009-09-30',
 '2009-10-31',
 '2009-11-30',
 '2009-12-31',
 '2010-01-31',
 '2010-02-28',
 '2010-03-31',
 '2010-04-30',
 '2010-05-31',
 '2010-06-30',
 '2010-07-31',
 '2010-08-31',
 '2010-09-30',
 '2010-10-31',
 '2010-11-30',
 '2010-12-31',
 '2011-01-31',
 '2011-02-28',
 '2011-03-31',
 '2011-04-30',
 '2011-05-31',
 '2011-06-30',
 '2011-07-31',
 '2011-08-31',
 '2011-09-30',
 '2011-10-31',
 '2011-11-30',
 '2011-12-31',
 '2012-01-31',
 '2012-02-29',
 '2012-03-31',
 '2012-04-30',
 '2012-05-31',
 '2012-06-30',
 '2012-07-31',
 '2012-08-31',
 '2012-09-30',
 '2012-10-31',
 '2012-11-30',
 '2012-12-31',
 '2013-01-31',
 '2013-02-28',
 '2013-03-31',
 '2013-04-30',
 '2013-05-31',
 '2013-06-30',
 '2013-07-31',
 '2013-08-31',
 '2013-09-30',
 '2013-10-31',
 '2013-11-30',
 '2013-12-31',
 '2014-01-31',
 '2014-02-28',
 '2014-03-31',
 '2014-04-30',
 '2014-05-31',
 '2014-06-30',
 '2014-07-31',
 '2014-08-31',
 '2014-09-30',
 '2014-10-31',
 '2014-11-30',
 '2014-12-31',
 '2015-01-31',
 '2015-02-28',
 '2015-03-31',
 '2015-04-30',
 '2015-05-31',
 '2015-06-30',
 '2015-07-31',
 '2015-08-31',
 '2015-09-30',
 '2015-10-31',
 '2015-11-30',
 '2015-12-31',
 '2016-01-31',
 '2016-02-29',
 '2016-03-31',
 '2016-04-30',
 '2016-05-31',
 '2016-06-30',
 '2016-07-31',
 '2016-08-31',
 '2016-09-30',
 '2016-10-31',
 '2016-11-30',
 '2016-12-31',
 '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-30',
 '2017-05-31',
 '2017-06-30',
 '2017-07-31',
 '2017-08-31',
 '2017-09-30',
 '2017-10-31',
 '2017-11-30',
 '2017-12-31',
 '2018-01-31',
 '2018-02-28',
 '2018-03-31',
 '2018-04-30',
 '2018-05-31',
 '2018-06-30',
 '2018-07-31',
 '2018-08-31',
 '2018-09-30',
 '2018-10-31',
 '2018-11-30',
 '2018-12-31'],axis=1, inplace=True)
ca_zip_df.head()

,SizeRank,RegionName,RegionType,State,City,Metro,CountyName,2019-01-31,2019-02-28,2019-03-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,0,77449,zip,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,184680.0,185344.0,185769.0,...,251930.0,255861.0,260506.0,266174.0,272442.0,278528.0,283555.0,286948.0,288863.0,289504.0
1,1,77494,zip,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,337941.0,337479.0,337336.0,...,439209.0,445272.0,454755.0,466373.0,480063.0,491447.0,498934.0,501198.0,499334.0,499877.0
2,2,79936,zip,TX,El Paso,"El Paso, TX",El Paso County,129659.0,130372.0,131305.0,...,174265.0,176277.0,178252.0,180407.0,183773.0,187384.0,190834.0,193074.0,194779.0,196166.0
3,3,11368,zip,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,568912.0,571854.0,574314.0,...,571191.0,569363.0,569160.0,571091.0,572605.0,575407.0,577640.0,579764.0,580707.0,583489.0
4,4,11385,zip,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,707240.0,707848.0,707917.0,...,744928.0,748113.0,751397.0,757101.0,759701.0,765523.0,770799.0,775959.0,778630.0,781713.0

In [ ]:
list(ca_zip_df.columns)

In [10]:
ca_zip_df_filter = ca_zip_df[ca_zip_df['State']=='CA']
ca_zip_df_filter.head()

,SizeRank,RegionName,RegionType,State,City,Metro,CountyName,2019-01-31,2019-02-28,2019-03-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
5,5,90011,zip,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,431284.0,431834.0,431883.0,...,557523.0,560258.0,566829.0,579468.0,592640.0,599997.0,599299.0,597103.0,593323.0,591697.0
8,8,91331,zip,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,493023.0,491204.0,489511.0,...,672375.0,677206.0,685053.0,696263.0,710239.0,721745.0,722897.0,720145.0,708142.0,699300.0
9,9,90650,zip,CA,Norwalk,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,487572.0,485517.0,484164.0,...,639596.0,644619.0,652685.0,665828.0,682408.0,697112.0,700797.0,699575.0,687564.0,676704.0
12,12,90201,zip,CA,Bell,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,451985.0,451959.0,452378.0,...,582644.0,585498.0,592014.0,601935.0,615220.0,626839.0,629000.0,628864.0,620317.0,616261.0
13,13,92335,zip,CA,Fontana,"Riverside-San Bernardino-Ontario, CA",San Bernardino County,350245.0,351116.0,352676.0,...,499572.0,506260.0,514718.0,522274.0,530378.0,536368.0,542020.0,541324.0,538672.0,533195.0

In [11]:
ca_crime_df.head()

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,CALIFORNIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape1,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
4,Adelanto,34491,276,1,20,42,213,459,136,209,114,14

In [12]:
clean_ca_crime_df = ca_crime_df.dropna()
clean_ca_crime_df.head()

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape1,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
4,Adelanto,34491,276,1,20,42,213,459,136,209,114,14
5,Agoura Hills,20490,21,0,6,4,11,306,66,223,17,0
6,Alameda,78907,162,0,7,94,61,2579,218,1958,403,29
7,Albany,20083,40,0,8,21,11,685,105,534,46,1

In [ ]:
clean_ca_crime_df.iloc[3]
clean_ca_crime_df.head()