In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
from config import db_password

In [3]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# Run sqlalchemy to import data and process for machine learning

In [42]:
db_string = f"postgresql://postgres:{db_password}@database-3.csjzcnuh5mqe.us-east-2.rds.amazonaws.com:5432/Final Project"

In [43]:
engine = create_engine(db_string)
conn = engine.connect()

In [44]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [45]:
# Create session (link) from Python to the DB
session = Session(engine)

In [46]:
#import from SQL
final_sql = 'SELECT * from Final'

In [47]:
final_sql_df= pd.read_sql(final_sql, conn)

In [48]:
final_sql_df.head(10)

,city,population,violentcrime,murder,rape,robbery,aggassault,propertycrime,burglary,theft,...,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,Hanford,57232,257,0,18,40,199,1242,131,900,...,"208,928.50","208,596.00","209,062.50","209,226.00","209,146.00","208,906.50","209,243.50","209,646.00","210,756.50","213,125.50"
1,Redlands,71941,257,1,40,70,146,2108,330,1534,...,"428,394.00","428,854.50","430,418.50","430,988.50","431,227.00","433,337.50","435,738.00","438,494.00","439,358.50","440,008.50"
2,Glendale,202601,231,5,16,93,117,3305,480,2562,...,"849,620.50","848,568.50","849,746.00","852,006.00","848,913.00","848,468.00","850,573.00","857,070.00","860,846.00","865,203.00"
3,San Bernardino,216715,2858,46,140,906,1766,9081,2029,4974,...,"269,785.00","271,124.00","272,944.00","273,867.00","274,452.00","275,822.00","277,041.00","278,795.00","279,903.00","281,112.00"
4,Grass Valley,12919,73,3,0,6,64,463,76,326,...,"400,544.50","405,139.00","406,816.50","405,919.00","402,539.50","400,859.50","399,217.00","398,306.50","398,893.50","401,141.50"
5,San Clemente,65018,87,1,3,29,54,918,160,700,...,"1,024,563.50","1,026,832.00","1,030,890.00","1,031,889.00","1,035,573.50","1,038,347.50","1,044,498.00","1,046,669.50","1,043,087.50","1,039,332.00"
6,San Luis Obispo,47735,192,0,44,34,114,1738,277,1387,...,"736,393.00","739,308.00","743,372.00","741,471.00","734,373.00","733,805.00","735,289.00","740,057.00","739,555.00","739,474.00"
7,Fremont,240887,400,1,36,159,204,4523,547,3408,...,"1,103,707.50","1,098,956.50","1,090,527.00","1,080,254.00","1,073,585.50","1,065,582.50","1,060,474.00","1,054,337.00","1,049,268.00","1,049,423.00"
8,Modesto,216542,1758,13,94,399,1252,7183,1149,4849,...,"286,789.00","289,319.00","290,254.00","291,741.00","290,716.50","291,209.50","291,389.00","293,734.50","295,003.50","296,914.00"
9,Santa Monica,91621,664,3,40,247,374,3964,577,3143,...,"1,410,872.00","1,404,153.00","1,407,314.00","1,412,127.00","1,389,853.00","1,376,021.00","1,370,802.00","1,392,114.00","1,400,247.00","1,408,692.00"

In [49]:
final_sql_df.columns

Index(['city', 'population', 'violentcrime', 'murder', 'rape', 'robbery',
       'aggassault', 'propertycrime', 'burglary', 'theft', 'vehicletheft',
       'arson', 'firecount', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul',
       'aug', 'sep', 'oct', 'nov', 'dec'],
      dtype='object')

In [50]:
#find and create column for yearly median house price
yearly_median = final_sql_df.groupby('city')[['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul',
       'aug', 'sep', 'oct', 'nov', 'dec']].apply(np.median)

In [51]:
yearly_median

city
Adelanto                 237,652.50
Anaheim                  595,720.00
Anderson                 242,715.00
Antioch                  538,109.50
Apple Valley             265,392.50
                       ...
Winters                  458,396.00
Woodlake                 190,431.50
Woodland                 387,797.50
Yuba City                313,604.00
Yucca Valley             223,926.50
Length: 229, dtype: float64

In [52]:
yearly_median_df = pd.DataFrame(yearly_median)
yearly_median_df.columns = ['yearly median']

yearly_median_df = pd.DataFrame.reset_index(yearly_median_df)

yearly_median_df.head(10)

           city        yearly median
0      Adelanto           237,652.50
1       Anaheim           595,720.00
2      Anderson           242,715.00
3       Antioch           538,109.50
4  Apple Valley           265,392.50
5         Arvin           180,601.50
6    Atascadero           536,914.00
7       Atwater           269,412.50
8        Auburn           477,907.50
9        Avenal           136,938.00

In [115]:
# Merge yearly_median_df into df with the final_sql_df
final_analysis_df = pd.merge(final_sql_df, yearly_median_df, on='city')

final_analysis_df.head()

,city,population,violentcrime,murder,rape,robbery,aggassault,propertycrime,burglary,theft,...,apr,may,jun,jul,aug,sep,oct,nov,dec,yearly median
0,Hanford,57232,257,0,18,40,199,1242,131,900,...,"208,596.00","209,062.50","209,226.00","209,146.00","208,906.50","209,243.50","209,646.00","210,756.50","213,125.50","209,104.25"
1,Redlands,71941,257,1,40,70,146,2108,330,1534,...,"428,854.50","430,418.50","430,988.50","431,227.00","433,337.50","435,738.00","438,494.00","439,358.50","440,008.50","431,107.75"
2,Glendale,202601,231,5,16,93,117,3305,480,2562,...,"848,568.50","849,746.00","852,006.00","848,913.00","848,468.00","850,573.00","857,070.00","860,846.00","865,203.00","851,289.50"
3,San Bernardino,216715,2858,46,140,906,1766,9081,2029,4974,...,"271,124.00","272,944.00","273,867.00","274,452.00","275,822.00","277,041.00","278,795.00","279,903.00","281,112.00","274,159.50"
4,Grass Valley,12919,73,3,0,6,64,463,76,326,...,"405,139.00","406,816.50","405,919.00","402,539.50","400,859.50","399,217.00","398,306.50","398,893.50","401,141.50","400,702.00"

# Shortcut for personal use offline

In [ ]:
# final_analysis_df.to_csv('final_analysis_df.csv')

In [ ]:
# final_analysis_df= pd.read_csv('../Resources/final_analysis_df.csv')
# final_analysis_df.head()

# Machine learning setup

## Split the Data into Training and Testing

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import SGDRegressor

In [116]:

final_analysis_df= final_analysis_df.drop(columns=['city'])
y = final_analysis_df['yearly median']
X = final_analysis_df.drop(columns=['yearly median'])

# scale the input using a pipeline.
reg = make_pipeline(StandardScaler(),SGDRegressor(max_iter=1000, tol=1e-3))
reg.fit(X, y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdregressor', SGDRegressor())])

In [ ]:
# score

In [ ]:
# predict