In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
from config import db_password

In [3]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# Run sqlalchemy to import data and process for machine learning

In [4]:
db_string = f"postgresql://postgres:{db_password}@database-3.csjzcnuh5mqe.us-east-2.rds.amazonaws.com:5432/Final Project"

In [5]:
engine = create_engine(db_string)
conn = engine.connect()

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# Create session (link) from Python to the DB
session = Session(engine)

In [8]:
#import from SQL
final_sql = 'SELECT * from Final'

In [9]:
final_sql_df= pd.read_sql(final_sql, conn)

In [10]:
final_sql_df.head(10)

,city,population,violentcrime,murder,rape,robbery,aggassault,propertycrime,burglary,theft,...,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,Hanford,57232,257,0,18,40,199,1242,131,900,...,208928.5,208596.0,209062.5,209226.0,209146.0,208906.5,209243.5,209646.0,210756.5,213125.5
1,Redlands,71941,257,1,40,70,146,2108,330,1534,...,428394.0,428854.5,430418.5,430988.5,431227.0,433337.5,435738.0,438494.0,439358.5,440008.5
2,Glendale,202601,231,5,16,93,117,3305,480,2562,...,849620.5,848568.5,849746.0,852006.0,848913.0,848468.0,850573.0,857070.0,860846.0,865203.0
3,San Bernardino,216715,2858,46,140,906,1766,9081,2029,4974,...,269785.0,271124.0,272944.0,273867.0,274452.0,275822.0,277041.0,278795.0,279903.0,281112.0
4,Grass Valley,12919,73,3,0,6,64,463,76,326,...,400544.5,405139.0,406816.5,405919.0,402539.5,400859.5,399217.0,398306.5,398893.5,401141.5
5,San Clemente,65018,87,1,3,29,54,918,160,700,...,1024563.5,1026832.0,1030890.0,1031889.0,1035573.5,1038347.5,1044498.0,1046669.5,1043087.5,1039332.0
6,San Luis Obispo,47735,192,0,44,34,114,1738,277,1387,...,736393.0,739308.0,743372.0,741471.0,734373.0,733805.0,735289.0,740057.0,739555.0,739474.0
7,Fremont,240887,400,1,36,159,204,4523,547,3408,...,1103707.5,1098956.5,1090527.0,1080254.0,1073585.5,1065582.5,1060474.0,1054337.0,1049268.0,1049423.0
8,Modesto,216542,1758,13,94,399,1252,7183,1149,4849,...,286789.0,289319.0,290254.0,291741.0,290716.5,291209.5,291389.0,293734.5,295003.5,296914.0
9,Santa Monica,91621,664,3,40,247,374,3964,577,3143,...,1410872.0,1404153.0,1407314.0,1412127.0,1389853.0,1376021.0,1370802.0,1392114.0,1400247.0,1408692.0

In [11]:
final_sql_df.columns

Index(['city', 'population', 'violentcrime', 'murder', 'rape', 'robbery',
       'aggassault', 'propertycrime', 'burglary', 'theft', 'vehicletheft',
       'arson', 'firecount', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul',
       'aug', 'sep', 'oct', 'nov', 'dec'],
      dtype='object')

In [12]:
#find and create column for yearly median house price
yearly_median = final_sql_df.groupby('city')[['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul',
       'aug', 'sep', 'oct', 'nov', 'dec']].apply(np.median)

In [13]:
yearly_median

city
Adelanto        237652.5
Anaheim         595720.0
Anderson        242715.0
Antioch         538109.5
Apple Valley    265392.5
                  ...
Winters         458396.0
Woodlake        190431.5
Woodland        387797.5
Yuba City       313604.0
Yucca Valley    223926.5
Length: 229, dtype: float64

In [14]:
yearly_median_df = pd.DataFrame(yearly_median)
yearly_median_df.columns = ['yearly median']

yearly_median_df = pd.DataFrame.reset_index(yearly_median_df)

yearly_median_df.head(10)

           city  yearly median
0      Adelanto       237652.5
1       Anaheim       595720.0
2      Anderson       242715.0
3       Antioch       538109.5
4  Apple Valley       265392.5
5         Arvin       180601.5
6    Atascadero       536914.0
7       Atwater       269412.5
8        Auburn       477907.5
9        Avenal       136938.0

In [15]:
# Merge yearly_median_df into df with the final_sql_df
final_analysis_df = pd.merge(final_sql_df, yearly_median_df, on='city')

final_analysis_df.head()

,city,population,violentcrime,murder,rape,robbery,aggassault,propertycrime,burglary,theft,...,apr,may,jun,jul,aug,sep,oct,nov,dec,yearly median
0,Hanford,57232,257,0,18,40,199,1242,131,900,...,208596.0,209062.5,209226.0,209146.0,208906.5,209243.5,209646.0,210756.5,213125.5,209104.25
1,Redlands,71941,257,1,40,70,146,2108,330,1534,...,428854.5,430418.5,430988.5,431227.0,433337.5,435738.0,438494.0,439358.5,440008.5,431107.75
2,Glendale,202601,231,5,16,93,117,3305,480,2562,...,848568.5,849746.0,852006.0,848913.0,848468.0,850573.0,857070.0,860846.0,865203.0,851289.50
3,San Bernardino,216715,2858,46,140,906,1766,9081,2029,4974,...,271124.0,272944.0,273867.0,274452.0,275822.0,277041.0,278795.0,279903.0,281112.0,274159.50
4,Grass Valley,12919,73,3,0,6,64,463,76,326,...,405139.0,406816.5,405919.0,402539.5,400859.5,399217.0,398306.5,398893.5,401141.5,400702.00

# Shortcut for personal use offline

In [16]:
# final_analysis_df.to_csv('final_analysis_df.csv')

In [ ]:
# final_analysis_df= pd.read_csv('../Resources/final_analysis_df.csv')
# final_analysis_df.head()

# Machine learning setup

## Split the Data into Training and Testing

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import SGDRegressor

In [18]:
final_analysis_df= final_analysis_df.drop(columns=['city'])
y = final_analysis_df['yearly median']
X = final_analysis_df.drop(columns=['yearly median'])

# scale the input using a pipeline.
reg = make_pipeline(StandardScaler(),SGDRegressor(max_iter=1000, tol=1e-3))
reg.fit(X, y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdregressor', SGDRegressor())])

In [19]:
# score
reg.score(X, y)

-4.146659761781777

In [20]:
# predict
reg.predict(X)

array([   313228.14043607,    489855.0928679 ,    793636.45496107,
         -614492.50621546,    581950.84415715,   1202897.82605359,
          835225.23337089,   1011288.44292841,   -215083.58586307,
         1370914.08545008,    633286.17814502,    407678.91692993,
          474123.01344764,    559921.58636427,    411448.79371597,
          365830.15911264,    642288.08613716,    340821.381712  ,
          325030.57697301,   1197437.66593127,    679679.24840406,
          842549.92426076,    723001.00166984,   1115872.58391457,
        -1219546.0687978 ,    419074.34230102,    778819.62545028,
          380660.54138272,    337058.44431273,    800286.66602214,
          423849.83768956,    643776.54566184,   1020740.12060961,
          227104.00103487,    359869.74395043,    460967.18062266,
          719556.68078047,    560682.42467673,    775564.86130249,
          907692.8120539 ,    930675.96948943,    440671.19005396,
          435127.79986751,    608738.37413841,    782889.62615679,
          497148.35529378,  -1722139.32283039,    611444.63067924,
         1522140.16438807,    443796.04171918,   1115732.03320159,
          485432.16213423,   1644183.63592685,    697679.25074145,
          298293.36116431,    638387.00524806,    552726.15074301,
          965715.05379429,   1312606.80764976,     80308.17375558,
          675481.98663249,    406738.37732166,    458326.48364635,
         1079376.43480814,    773132.55916275,    354484.50040749,
          366691.90795229,   1098925.6961175 ,    161488.10585877,
          665967.99068349,     97519.92667725,    675101.92590586,
          407178.666781  ,    310532.90532116,    270559.8805562 ,
          395964.28075383,    339782.56511039,   -536387.40316121,
          629631.41966313,    453942.16658076,    536910.79209083,
          592603.18888603,    466561.03181084,    629148.38084458,
          389306.08559792,   1029810.45039067,    399303.76951771,
          726952.57750457,    293888.46810743,    313335.73518195,
         1400781.46316931,    699470.27652356,    727510.09922349,
          249617.31181527,  -1238367.41772952,    441132.5350765 ,
          371443.35892704,   1163353.67464186,    404432.14125461,
          249109.06762261,    592106.88181673,   1021573.08941701,
          403161.83235389,    579427.57190889,    539540.31633433,
          363433.40474341,    238925.56731992,    782025.21961448,
         1179557.37390902,    280817.18657894,   -933292.41367244,
          653242.54285438,    666618.98106686,    680149.27510081,
          371006.91215424,   2338818.55295043,    542212.28756011,
          809997.55831026,    600576.85060125,    294885.4953546 ,
         1057062.69406589,    430587.6951067 ,   1158361.61079808,
          446840.84298423,    431878.38079032,    423495.35230554,
          527774.66665358,    468723.85895247,   1947628.47384255,
          240401.79953737,    436142.2357541 ,    429016.99367519,
          518987.92145904,    568364.28607743,    404637.01307599,
         1082329.48502807,    639406.55819204,    446500.07258109,
          779751.09571924,    437278.68994231,    842041.29374508,
          410979.67744941,    415488.45365843,    395331.44105169,
          469319.06221637,    332061.01391851,    920618.75255464,
          105606.52962456,    436217.08728282,    198644.85471121,
          646954.9136219 ,   1543702.63068324,    481457.04440248,
          319338.01416936,    661728.26810569,    495953.74728159,
          424857.56773849,    417648.13299249,   1570031.43100444,
          512723.85874129,    540791.54922843,    926912.18392947,
         3571518.95904629,    521339.02421388,    553755.81517793,
          445701.09132779,    770278.96149304,    522302.7442942 ,
          863104.32274812,    328522.81896655,    340095.64579962,
          378602.16695035,    549458.8954548 ,    456944.05837545,
          358286.20508424,    554619.20905252,    329013.73381136,
          395500.32567749,    611245.63293556,    587702.9960235 ,
          426054.04473805,    454719.07036834,    513774.9042642 ,
          332362.57972458,    376330.89453831,    573616.52785979,
          835728.33306064,    293765.52702502,    633508.56834903,
           17172.04091294,    319521.12144415,    478989.42696544,
          309675.52247315, -10601939.95533671,    378384.94964273,
          457441.94892343,    289152.13503521,    913265.06559463,
          710794.41839076,    514157.43465063,    672818.77234219,
          568368.3226855 ,    416093.71666082,    334810.38181237,
          387663.1171885 ,    581047.6484225 ,     11088.58309728,
          567383.92695876,    713204.04342892,   -216074.00017005,
          407283.75615244,  -1003216.50491056,    739314.7879606 ,
          585543.01160489,     66111.40214281,  -1508145.48156481,
          586310.72925554,    360714.69317028,    286621.80054681,
          486491.51491321,    821473.55135471,    619981.53416234,
          778564.41269229,   2057869.0638279 ,    790645.50393869,
          550461.6320301 ,    456287.48168918,    635330.32390424,
          267566.36760068])